

/* line 5, ../sass/screen.scss */
html, body {
    height: 100%;
}

/* line 9, ../sass/screen.scss */
body {
    font-family: 'Open Sans', sans-serif;
}

/* line 14, ../sass/screen.scss */
a.secondaryLink,
.secondaryLink a {
    color: #666;
}

/* line 18, ../sass/screen.scss */
#fixed-top {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width: 768px) {
    /* line 18, ../sass/screen.scss */
    #fixed-top {
        height: auto;
        min-height: 291px;
    }
}
/* line 32, ../sass/screen.scss */
#fixed-top > .table-row {
    display: table-row;
}
/* line 35, ../sass/screen.scss */
#fixed-top > .table-row > * {
    display: table-cell;
    vertical-align: bottom;
}
/* line 41, ../sass/screen.scss */
#fixed-top > .table-row.hero > div {
    text-align: center;
    vertical-align: middle;
}
/* line 49, ../sass/screen.scss */
#fixed-top > header > div {
    z-index: 1;
}
@media (max-width: 768px) {
    /* line 54, ../sass/screen.scss */
    #fixed-top .hugger-row {
        display: none;
    }
}

/* line 62, ../sass/screen.scss */
header > div {
    position: relative;
    background: #fff;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
}

/* line 69, ../sass/screen.scss */
.hero-hugger {
    text-align: center;
    background: #fff;
    z-index: 3;
    height: 53px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* line 76, ../sass/screen.scss */
.hero-hugger .container {
    padding-top: 16px;
    line-height: 0.5em;
}
/* line 81, ../sass/screen.scss */
.hero-hugger .button-menu {
    padding: 0;
    margin: 0;
    width: 90px;
    white-space: nowrap;
    position: absolute;
}
/* line 88, ../sass/screen.scss */
.hero-hugger .button-menu li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}
/* line 96, ../sass/screen.scss */
.hero-hugger a {
    color: #bbb;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    transition: color 100ms linear;
}
/* line 100, ../sass/screen.scss */
.hero-hugger a:hover {
    color: #A00000 ;
}

/* line 106, ../sass/screen.scss */
#hugger-arrow {
    top: -5px;
}

/* line 110, ../sass/screen.scss */
.down-arrow {
    width: 38px;
    height: 38px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

/* line 118, ../sass/screen.scss */
.navbar {
    margin-bottom: 0;
    border: none;
}
/* line 122, ../sass/screen.scss */
.navbar .container {
    position: relative;
}
/* line 125, ../sass/screen.scss */
.navbar .container .navbar-brand {
    height: auto;
}
/* line 128, ../sass/screen.scss */
.navbar .container .navbar-brand img {
    height: 33px;
    vertical-align: middle;
}
/* line 133, ../sass/screen.scss */
.navbar .container .navbar-brand h4 {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    margin: 0;
    color: #222;
}
/* line 142, ../sass/screen.scss */
.navbar .container .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: inherit;
    color: #222;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
/* line 151, ../sass/screen.scss */
.navbar .container .navbar-nav > li > a:hover {
    color: #A00000;
    text-decoration: underline;
}
/* line 158, ../sass/screen.scss */
.navbar .form-group input {
    width: 150px;
}

/* line 164, ../sass/screen.scss */
.nav > li,
.navbar-right {
    line-height: 66px;
}

/* line 170, ../sass/screen.scss */
.navbar-collapse.in > ul,
.navbar-collapse.collapsing > ul {
    list-style: none;
    padding: 0;
}
/* line 174, ../sass/screen.scss */
.navbar-collapse.in > ul > li,
.navbar-collapse.collapsing > ul > li {
    line-height: normal;
}
/* line 177, ../sass/screen.scss */
.navbar-collapse.in > ul > li > a,
.navbar-collapse.collapsing > ul > li > a {
    padding: 10px 15px !important;
    color: #222;
    display: block;
}
/* line 185, ../sass/screen.scss */
.navbar-collapse.in > ul.navbar-nav > li,
.navbar-collapse.collapsing > ul.navbar-nav > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 190, ../sass/screen.scss */
.navbar-collapse.in > ul.button-menu,
.navbar-collapse.collapsing > ul.button-menu {
    margin: 7.5px -15px;
}
/* line 192, ../sass/screen.scss */
.navbar-collapse.in > ul.button-menu > li > a,
.navbar-collapse.collapsing > ul.button-menu > li > a {
    padding: 5px 15px !important;
    font-size: 12px;
}
/* line 196, ../sass/screen.scss */
.navbar-collapse.in > ul.button-menu > li > a span,
.navbar-collapse.collapsing > ul.button-menu > li > a span {
    margin-right: 5px;
}

@media (max-width: 768px) {
    /* line 205, ../sass/screen.scss */
    .navbar-toggle {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.Portfolio {
    background: url("../images/Portfolio.jpg") no-repeat;
    background-size: 200;
}


/* line 211, ../sass/screen.scss */
.hero {
    position: relative;
    padding: 0;
    margin: 0;
    color: #fff;
}
/* line 217, ../sass/screen.scss */
.hero #hero {
    position: relative;
}
/* line 221, ../sass/screen.scss */
.hero video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.hero img {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
@media (max-width: 768px) {
    /* line 221, ../sass/screen.scss */
    .hero video {
        display: none;
    }
}
/* line 236, ../sass/screen.scss */
.hero h1 {
    color: #ffffff;
    margin: 0 0 40px;
    font-size: 60px;
}
@media (max-width: 768px) {
    /* line 236, ../sass/screen.scss */
    .hero h1 {
        width: 93%;
        padding: 0;
        margin: 0 auto;
        font-size: 28px;
        line-height: 1.25em;
        margin-bottom: 20px;
    }
}
/* line 250, ../sass/screen.scss */
.hero .btn {
    text-transform: uppercase;
}
@media (max-width: 768px) {
    /* line 250, ../sass/screen.scss */
    .hero .btn {
        width: 89%;
        display: block;
        margin: 0 auto;
    }
}
/* line 260, ../sass/screen.scss */
.hero .source-link {
    position: absolute;
    bottom: 20px;
    left: 100px;
    color: #fff;
    text-decoration: underline;
}
/* line 268, ../sass/screen.scss */
.hero .vid-button {
    display: none;
    position: absolute;
    right: 100px;
    bottom: 20px;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    color: #fff;
    text-indent: -999em;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
}
@media (max-width: 768px) {
    /* line 268, ../sass/screen.scss */
    .hero .vid-button {
        display: none !important;
    }
}
/* line 285, ../sass/screen.scss */
.hero .vid-button.pause:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    right: 12px;
    height: 14px;
    border: 3px solid #fff;
    border-top: none;
    border-bottom: none;
}
/* line 299, ../sass/screen.scss */
.hero .vid-button.play:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 12px;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-width: 7px 14px;
    border-left-color: #fff;
    overflow: hidden;
}

/* line 316, ../sass/screen.scss */
.tablet-home .overlay {
    display: block;
}

/* line 321, ../sass/screen.scss */
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    display: none;
    z-index: -1;
}
/* line 328, ../sass/screen.scss */
.overlay.video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@media (max-width: 768px) {
    /* line 328, ../sass/screen.scss */
    .overlay.video-overlay {
        display: block;
        background: url(/no-autoplay.jpg) no-repeat;
        background-size: cover;
        z-index: -1;
        display: block !important;
    }
}
/* line 343, ../sass/screen.scss */
.overlay.video-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
@media (max-width: 768px) {
    /* line 343, ../sass/screen.scss */
    .overlay.video-overlay:after {
        display: block;
    }
}

/* line 359, ../sass/screen.scss */
.btn-worksite {
    background-color: #A00000 ;
    color: #fff;
    font-weight: 600;
}
/* line 364, ../sass/screen.scss */
.btn-worksite:hover {
    background-color: #A00000 ;
    color: #fff;
}

/* line 370, ../sass/screen.scss */
#n1 {
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}

/* line 374, ../sass/screen.scss */
.editorial {
    background: #fff;
    position: relative;
    z-index: 2;
}

.editorial a {
    color: #000;
}
/* line 380, ../sass/screen.scss */
.editorial.editorial-left .editorial-img {
    background-position: 14% bottom;
}
/* line 386, ../sass/screen.scss */
.editorial.editorial-right .editorial-img {
    background-position: 90% center;
}

/* line 394, ../sass/screen.scss */
.hero-bg,
.editorial-bg,
.editorial-bg .parallax-bg {
    background-size: cover;
    background-position: 60% center;

}

@media (max-width: 768px) {
    /* line 400, ../sass/screen.scss */
    .editorial-bg {
        background-size: auto 265px;
        background-position: left top;
    }
    /* line 405, ../sass/screen.scss */
    .editorial-bg .contentLink.reverseLink {
        color: #A00000;
    }
    /* line 407, ../sass/screen.scss */
    .editorial-bg .contentLink.reverseLink:hover {
        color: #A00000;
    }
    /* line 412, ../sass/screen.scss */
    .editorial-bg.n4 {
        background-position: 89% top;
    }
    /* line 416, ../sass/screen.scss */
    .editorial-bg.macbook {
        background-position: 85% top;
    }
    /* line 420, ../sass/screen.scss */
    .editorial-bg .editorial-container {
        padding-top: 285px;
    }
}
#wallpaper .editorial-img {
    background: url("../images/blackbg.jpg");
    
}
.wallpaper {
    background: url("../images/blackbg.jpg");
    color: #ffffff;
}

/* line 426, ../sass/screen.scss */
.editorial-container {
    height: 530px;
    line-height: 530px;
}
@media (max-width: 768px) {
    /* line 426, ../sass/screen.scss */
    .editorial-container {
        height: auto;
        line-height: normal;
    }
}

/* line 436, ../sass/screen.scss */
.editorial-img {
    background-clip: padding-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    /* line 436, ../sass/screen.scss */
    .editorial-img {
        background-image: none !important;
    }
}

/* line 446, ../sass/screen.scss */
.editorial-cell {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
}

.editorial-cell a {

}
@media (max-width: 768px) {
    /* line 446, ../sass/screen.scss */
    .editorial-cell {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* line 457, ../sass/screen.scss */
.hero-bg .editorial-container {
    height: 360px;
    line-height: 360px;
}
@media (max-width: 768px) {
    /* line 457, ../sass/screen.scss */
    .hero-bg .editorial-container {
        height: auto;
        line-height: normal;
    }
}
/* line 467, ../sass/screen.scss */
.hero-bg p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 1.333em;
}
@media (max-width: 768px) {
    /* line 467, ../sass/screen.scss */
    .hero-bg p {
        padding-top: 14px;
    }
}
/* line 478, ../sass/screen.scss */
.hero-bg.glass {
    background-image: url();
}

/* line 483, ../sass/screen.scss */
.training-item-container {
    text-align: center;
}
@media (max-width: 768px) {
    /* line 487, ../sass/screen.scss */
    .training-item-container > div:not(:last-of-type) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
/* line 494, ../sass/screen.scss */
.training-item-container h2 {
    font-weight: 600;
    color: #A00000;
}
/* line 499, ../sass/screen.scss */
.training-item-container p {
    text-align: left;
}
/* line 503, ../sass/screen.scss */
.training-item-container .btn {
    text-transform: uppercase;
}

/* line 508, ../sass/screen.scss */
.fa-icons {
    text-align: center;
    font-size: 42px;
}
#FPP .editorial-img {

}
.FPP {
    background: url(../images/IFSTA.jpg) no-repeat;
    background-size: 250;
    background-position: 65% 15%;
}
.OFST {
    background: url(../images/OFST.jpg) no-repeat;
    background-position: 40% 10%;
}
.ACC {
    background: url(../images/ACC_logo.png) no-repeat;
    background-position: 60% 10%;

}

.OSUPP {
        background: url(../images/pistolpete.jpg) no-repeat;
        background-size: 200;
    background-position: 40% 10%;
}

#Clients {


}


#xTuple .editorial-img {
    background-position: 90% 10%;
}
.xTuple {
    background: url(../images/xTuple.jpg) no-repeat;
    background-size: 45%;
}
.WebHosting {
    background: url(../images/WebHosting.jpg) no-repeat;
    background-size: 2000;
    color: #ffffff;
}
#NetworkAdmin .editorial-img {
    background-position: 90% 5%;
}
.NetworkAdmin {
        background: url(../images/NetworkAdmin.jpg) no-repeat;

}
#ELearning .editorial-img {
    background-position: 50% 10%;
}
.ELearning {
    background: url(../images/ELearning.jpg) no-repeat;
    background-position: 15% 10%;

}

#WebDevelop .editorial-img{
    background-position: 90% 5%;
}
.WebDevelop {
    background: url(../images/webdevelopment.jpg) no-repeat;
    background-size: 45%;
}
#Consulting .editorial-img {
    background-position: 5% 10%;
}
.Consulting {
    background: url(../images/consulting.jpg) no-repeat;
    background-size: 45%;
    background-position: 0% 5%;
}

#Jim .editorial-img {
    background-position: 90% 10%;
}

.Jim {
    background: url(../images/Jim.jpg) no-repeat;
    background-size: 45%;
}

.Aaron {
        background: url(../images/Aaron.jpg) no-repeat;
        background-size: 45%
}
/* line 513, ../sass/screen.scss */
.services {
    background: url("../images/services-banner-all-grey.jpg") no-repeat;
    background-position: center;
    background-color: #cccccc;
}

.n1 {
    background-image: url(../images/lightbulbs.jpg);
}

/* line 517, ../sass/screen.scss */
.n2 {
    background-image: url(../images/aboutus.JPG);

    color: #ffffff;
}

/* line 521, ../sass/screen.scss */
.n3 {
    background-image: url(/_images/iphone.jpg);
}

/* line 525, ../sass/screen.scss */
.n4 {
    background-image: url(/_images/wallpaper.png);
}

/* line 529, ../sass/screen.scss */
.macbook {
    background-image: url(/_images/mac-worksite.jpg);
}

/* line 533, ../sass/screen.scss */
.lightContent,
.lightContent a {
    color: #fff;
    text-shadow: 0 1px 0 black;
}

.links a {
    color: #ffffff;
}

.links a:hover {
    color: #A00000;
}
#Contact {

}

@media (max-width: 768px) {
    /* line 533, ../sass/screen.scss */
    .lightContent {
        color: inherit;
        text-shadow: none;
    }
}

/* line 542, ../sass/screen.scss */
.home-panel {
    padding: 90px 0;
    background-color: #A00000;
}
@media (max-width: 768px) {
    /* line 542, ../sass/screen.scss */
    .home-panel {
        padding: 30px 0;
    }
}

/* line 550, ../sass/screen.scss */
.orange {
    background-color: #A00000;
    color: #fff;
}

/* line 555, ../sass/screen.scss */
.light {
    background-color: #ffffff;
    color: #000000;
}

/* line 560, ../sass/screen.scss */
.dark {
    background-color: #000000;
    color: #fff;
}
/* line 564, ../sass/screen.scss */
.dark p {
    color: #e6e6e6;
}

/* line 569, ../sass/screen.scss */
.contentLink {
    display: inline-block;
    margin: 0 6px 0 0;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    color: #A00000;
    font-weight: 600;
}
@media (max-width: 768px) {
    /* line 569, ../sass/screen.scss */
    .contentLink {
        display: block;
        border: none;
        padding: 0;
        margin: 0 0 20px;
    }
}
/* line 584, ../sass/screen.scss */
.contentLink.reverseLink {
    color: #fff;
}
/* line 587, ../sass/screen.scss */
.contentLink.reverseLink:hover {
    color: #ddd;
}
/* line 592, ../sass/screen.scss */
.contentLink:hover {
    color: #A00000;
    text-decoration: none;
}
/* line 597, ../sass/screen.scss */
.contentLink:first-of-type {
    border-left: none;
    padding-left: 0;
}

/* line 603, ../sass/screen.scss */
.xl {
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: 0.02em;
}

/* line 609, ../sass/screen.scss */
.center-text {
    text-align: center;
}

/* line 613, ../sass/screen.scss */
.closing-cta {
    margin-top: 28px;
    float: none;
}

/* line 619, ../sass/screen.scss */
#help .search .form-group {
    width: 80%;
}
/* line 622, ../sass/screen.scss */
#help .search .form-group input {
    width: 100%;
}
/* line 627, ../sass/screen.scss */
#help .search button {
    width: 15%;
    float: right;
}

/* line 634, ../sass/screen.scss */
.sign-up-content section {
    margin-bottom: 50px;
    overflow: auto;
}

/* line 641, ../sass/screen.scss */
.package ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* line 646, ../sass/screen.scss */
.package ul li {
    margin: 15px 5px;
}
/* line 651, ../sass/screen.scss */
.package .btn {
    width: 100%;
    text-transform: uppercase;
}

/* line 657, ../sass/screen.scss */
.main-contact {
    margin-top: 20px;
}
/* line 660, ../sass/screen.scss */
.main-contact h4 {
    font-weight: 600;
    font-size: 1.5em;
    color: #A00000;
    border-bottom: 5px solid #aaa;
    padding: 5px 0;
}
/* line 668, ../sass/screen.scss */
.main-contact h5 {
    font-size: 1.2em;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}
/* line 677, ../sass/screen.scss */
.main-contact .topics ul {
    list-style: none;
    padding: 0;
}
/* line 684, ../sass/screen.scss */
.main-contact .popular ul {
    padding: 0 0 0 20px;
}
/* line 688, ../sass/screen.scss */
.main-contact .popular li {
    margin: 10px 0;
}
/* line 693, ../sass/screen.scss */
.main-contact li {
    margin: 5px 0;
    font-size: 13px;
}
/* line 697, ../sass/screen.scss */
.main-contact li a {
    color: #555;
    text-decoration: underline;
}

/* line 704, ../sass/screen.scss */
footer {
    position: relative;
    padding: 40px 0;
    z-index: 2;
    background: #fff;
    text-align: left;
}
@media (max-width: 768px) {
    /* line 704, ../sass/screen.scss */
    footer {
        padding: 0;
    }
}
/* line 715, ../sass/screen.scss */
footer .container {
    height: 80px;
}
@media (max-width: 768px) {
    /* line 715, ../sass/screen.scss */
    footer .container {
        height: auto;
    }
}
/* line 723, ../sass/screen.scss */
footer ul {
    display: block;
    clear: both;
    margin: 0;
    padding-left: 0;
}
/* line 729, ../sass/screen.scss */
footer ul li {
    display: inline-block;
    list-style-type: none;
    line-height: 26px;
    vertical-align: middle;
    margin: 0 18px 0 0;
}
@media (max-width: 768px) {
    /* line 729, ../sass/screen.scss */
    footer ul li {
        margin: 0;
    }
}
/* line 740, ../sass/screen.scss */
footer ul li a {
    display: block;
    margin: 0 26px 0 0;
    padding: 9px 0;
    font-weight: bold;
    text-decoration: none;
}
/* line 751, ../sass/screen.scss */
footer .footer-secondary li a,
footer .footer-tertiary li a {
    font-weight: 400;
    font-size: 12px;
    padding: 0;
}
/* line 757, ../sass/screen.scss */
footer .footer-secondary {
    float: left;
}
@media (max-width: 768px) {
    /* line 760, ../sass/screen.scss */
    footer .footer-secondary li {
        padding-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    /* line 766, ../sass/screen.scss */
    footer .footer-secondary li a {
        margin-right: 9px;
        margin-bottom: 6px;
    }
}
/* line 775, ../sass/screen.scss */
footer .footer-tertiary {
    float: right;
    clear: none;
}
@media (max-width: 768px) {
    /* line 775, ../sass/screen.scss */
    footer .footer-tertiary {
        float: none;
        clear: both;
    }
}

/* line 786, ../sass/screen.scss */
.footer-main {
    border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 768px) {
    /* line 789, ../sass/screen.scss */
    .footer-main li {
        display: block;
        border-top: 1px solid #f2f2f2;
    }
}
/* line 795, ../sass/screen.scss */
.footer-main li a {
    margin: 0 26px 0 0;
    display: block;
}

/* line 803, ../sass/screen.scss */
.footer-secondary,
.footer-tertiary {
    margin-top: 12px;
    display: block;
}

/* line 808, ../sass/screen.scss */
#footer-copyright {
    font-weight: 400;
    font-size: 12px;
    padding: 0;
}

/* line 814, ../sass/screen.scss */
#footer-legal a {
    margin-right: 0;
}

/* line 818, ../sass/screen.scss */
.panel-body .image-placeholder {
    margin-bottom: 15px;
}

/* line 822, ../sass/screen.scss */
.image-placeholder {
    height: 130px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 10px;
    border: 5px solid #eee;
    text-align: center;
}
/* line 831, ../sass/screen.scss */
.image-placeholder:after {
    content: "IMAGE";
    color: #eee;
    font-size: 2em;
    line-height: 120px;
}

